html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(233, 233, 233);
    font-size: 24px;
}

h1 {
    font-family: 'Game of Thrones';
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
}

body > * {
    /* border: 1px solid red; */
}

.index-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    text-transform: uppercase;
    font-family: "Futura";
    letter-spacing: 12px;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

a:hover{
    color: red;
}


.main-content {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.listing,
.detail {
    background-color: #440D10;
    color: white;
    width: 50%;
    font-family: "Futura";
}

.listing {
    width: 45%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.detail {
    height: 100%;
}

ul {
    list-style-type: none;
}

.detail {
    width: 50%;
    padding: 1em;
}